trigger:
- master

resources:
- repo: self

variables:
  buildConfiguration: release
  targetFramework: net5.0
  sdkVersion: 5.0.100
  projectFile: aiof.auth.core/aiof.auth.core.csproj
  projectFileTest: aiof.auth.tests/aiof.auth.tests.csproj
  tag: latest

stages:
- stage: Build
  displayName: Build
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: install .net5 sdk
      inputs:
        packageType: sdk
        version: $(sdkVersion)

    - task: DotNetCoreCLI@2
      displayName: build
      inputs:
        command: build
        projects: $(projectFile)
        arguments: -c $(buildConfiguration) -f $(targetFramework)

    - task: DotNetCoreCLI@2
      displayName: test
      inputs:
        command: test
        projects: $(projectFileTest)
        arguments: -c $(buildConfiguration)
        publishTestResults: true
    

    - task: DotNetCoreCLI@2
      displayName: publish
      inputs:
        command: publish
        arguments: -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)/app/publish -f $(targetFramework)
        zipAfterPublish: true